@import "theme.css";

* {
	font-family: "FiraCode Nerd Font";
	font-size: 12px;
	font-weight: bold;
	border: none;
}


window#waybar {
	background: rgba(255,255,255,0);
}

.module {
	color: @black;
	background: @b;
	border: 1px solid @f;
	border-radius: 6px;
	padding: 4px;
	margin: 4 2 0 2;
}

tooltip {
	background: @a;
	border: 1px solid @black;
}

tooltip label {
	font-weight: normal;
	color: @black;
}

#workspaces  {
	color: @black;
	background: @b;
	padding: 0px;
}

#workspaces button {
	color: @black;
	transition: all 0.3s ease-in-out;
	margin: 2;
}

#workspaces button.active {
	color: @text;
	background: @d;
}

#workspaces button:hover {
	color: @text;
	background: @d;
}

#custom-appmenu {
    font-size: 20px;
    padding: 0px 20px 0px 15px;
}

#custom-updates {
	color: @text;
	background: @d;
	font-size: 16px;
	border: 2px solid @d;
}

#tray {
    border-radius: 6px;
    padding: 2px 12px;
    font-size: 20px;
}

#custom-power {
    color: @text;
    background: @d;
    border-radius: 8px;
    font-size: 18px;
    padding: 0px 12px;
    padding-right: 15px;
}
