/* Modern and Enhanced Waybar Theme */

* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: rgba(15, 15, 15, 0.9);
    color: #e0def4;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
}

tooltip {
    background: #191724;
    border: 1px solid #c4a7e7;
    border-radius: 6px;
    padding: 6px;
}

/* Workspaces */
#workspaces button {
    background: transparent;
    color: #f5e0dc;
    border-radius: 4px;
    padding: 0px 6px;
    margin: 4px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    background: #9399b2;
    color: #11111b;
}

#workspaces button:hover {
    background: #ebbcba;
    color: #191724;
}

#workspaces {
    background-color: #181825;
    border-radius: 6px;
    padding: 2px 2px;
    margin: 1px;
}

/* Modules */
#window,
#network,
#temperature,
#memory,
#custom-appmenu,
#cpu,
#disk,
#custom-updates,
#pulseaudio,
#clock,
#tray,
#custom-power {
    color: #f5e0dc;
    background-color: #181825;
    border-radius: 6px;
    padding: 2px 10px;
    margin: 4px;
}

#window {
    border-radius: 6px;
    font-weight: bold;
}

#custom-appmenu {
    font-size: 16px;
    padding: 2px 20px;
    padding-left: 20px;
    padding-right: 22px;
}

#clock {
    font-weight: bold;
    padding: 2px 14px;
    border-radius: 8px;
}

#custom-power {
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    padding: 6px 12px;
    padding-left: 10px;
    padding-right: 12px;
}

#pulseaudio {
    border-radius: 8px;
    padding: 2px 12px;
}

#tray {
    border-radius: 6px;
    padding: 2px 12px;
    font-size: 16px;
}

