* {
    main-bg:            rgb(230,227,227,0.80);
    main-fg:            #0e0e1f;
    main-br:            rgb(0,0,0,1.00);
    main-ex:            #f5e0dcff;
    select-bg:          rgb(255,0,0,0.80);
    select-fg:          rgb(255,255,255,1.0);
    separatorcolor:     transparent;
    border-color:       transparent;
}
