//  _        ___                                      ___ _
// | |      / __)_                                   / __|_)
// | | ____| |__| |_ _ _ _ ____      ____ ___  ____ | |__ _  ____    ____ ___  ____
// | |/ _  )  __)  _) | | |    \    / ___) _ \|  _ \|  __) |/ _  |  / ___) _ \|  _ \
// | ( (/ /| |  | |_| | | | | | |  ( (__| |_| | | | | |  | ( ( | |_| |  | |_| | | | |
// |_|\____)_|   \___)____|_|_|_|   \____)___/|_| |_|_|  |_|\_|| (_)_|   \___/|_| |_|
// A WindowManager for Adventurers                         (____/
// For info about configuration please visit https://github.com/leftwm/leftwm/wiki

#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [
        (output: "HDMI-0", x: 0, y: 0, height: 1080, width: 1920),
        (output: "DP-0", x: 1920, y: 0, height: 900, width: 1600),
    ],
    tags: ["1","2","3"],
    max_window_width: None,
    layouts: [
	// "EvenHorizontal",
	// "EvenVertical",
	"Dwindle",
        "CenterMain",
        // "CenterMainBalanced",
        // "CenterMainFluid",
        // "Fibonacci",
        "Grid",
        // "GridHorizontal",
        // "MainAndDeck",
        // "MainAndHorizontalStack",
        "MainAndVertStack",
        // "Monocle",
        // "RightMainAndVertStack",
    ],
    layout_mode: Workspace,
    insert_behavior: Bottom,
    window_rules: [
	( window_class: "Dunst", spawn_floating: true ),
	( window_title: "Dunst", spawn_floating: true ),
	],
    disable_current_tag_swap: true,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    sloppy_mouse_follows_focus: true,
	scratchpad: [
    ( name: "Calculator",
      value: "galculator",
      args: [], // Any arguments to pass to the command
      x: 860, y: 390, height: 300, width: 300
    ),
],
    keybind: [
        (command: Execute, value: "ghostty", modifier: ["modkey"], key: "Return"),
	(command: ToggleScratchPad, value: "Calculator", modifier: ["modkey"],key: "F1"),
	(command: ReleaseScratchPad, value: "Calculator", modifier: ["modkey", "Control", "Shift"], key: "f"),
        (command: Execute, value: "brave", modifier: ["modkey"], key: "b"),
        (command: Execute, value: "rofi -show drun -theme ~/.config/rofi/styles/style_2.rasi", modifier: ["modkey"], key: "p"),
        (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
        (command: HardReload, modifier: ["modkey", "Control"], key: "r"),
        (command: NextLayout,  modifier: ["modkey"], key: "space"),
	(command: ToggleFloating,modifier: ["modkey"],key: "f"),
        (command: FocusWindowAt, value: "North", modifier: ["modkey"], key: "Up"),
        (command: FocusWindowAt, value: "South", modifier: ["modkey"], key: "Down"),
        (command: FocusWindowAt, value: "West", modifier: ["modkey"], key: "Left"),
        (command: FocusWindowAt, value: "East", modifier: ["modkey"], key: "Right"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "Up"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "Down"),
        (command: MoveWindowTop, value: "", modifier: ["modkey"], key: "t"),
        (command: CloseWindow, value: "", modifier: ["modkey"], key: "q"),
        (command: ToggleFullScreen, value: "", modifier: ["modkey","Control"], key: "f"),
        (command: IncreaseMainWidth, value: "5", modifier: ["modkey", "Control"], key: "Up"),
        (command: DecreaseMainWidth, value: "5", modifier: ["modkey", "Control"], key: "Down"),
        (command: SetMarginMultiplier, value: "1.0", modifier: ["modkey"], key: "m"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: SwapTags, value: "", modifier: ["modkey", "Shift"], key: "Tab"),
        (command: MoveWindowToNextWorkspace, value: "", modifier: ["modkey", "Shift"], key: "w"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "Tab"),
        (command: Execute, value: "leftwm-command \"FocusWorkspaceNext\" \"FocusNextTag\" \"FocusWorkspacePrevious\"", modifier: ["modkey", "Control"], key: "Tab"),
    ],
    state_path: None,
)
