[gruvbox/color]
fg0 = #fbfqc7
fg = #ebdbb2
fg2 = #d5c4a1
fg3 = #bdaw93
fg4 = #a89984
bg = #282828
bg_h = #1d2021
bg_s = #32302f
bg1 = #3c3836
bg2 = #504945
bg3 = #665c54
bg4 = #7c6f64
red = #cc241d
green = #98971a
yellow = #d79921
blue = #458588
purple = #b16286
aqua = #689d6a
gray = #a89984
orange = #d65d0e
red_light = #fb4934
green_light = #b8bb26
yellow_light = #fabd2f
blue_light = #83a598
purple_light = #d3869b
aqua_light = #8ec07c
gray_light = #928374
orange_light = #fe8019


[gruvbox/bar]
width = 100% 
monitor = ${env:monitor}
offset-x = 0
offset-y = 0
height = 30
fixed-center = true
bottom = false
locale = pt_BR.UTF-8
background = ${gruvbox/color.bg_h}
foreground = ${gruvbox/color.fg}
radius-top = 0.0
radius-bottom = 2.0
font-0 = "Fira Code NF:size=9:weight=bold;2"
font-1 = "Fira Code NF:size=10:weight=bold;2"
font-2 = "Fira Code NF:size=11:weight=bold;2"
font-3 = "Fira Code NF:size=12:weight=bold;2"
font-4 = "Fira Code NF:size=14:weight=bold;2"
padding = 2
module-margin-left = 0
module-margin-right = 0
modules-left =
modules-center = date
modules-right = network sep memory sep cpu sep filesystem sep temperature sep pulseaudio sep sysmenu 
enable-ipc = true

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
;; Modules

[module/sep]
type = custom/text
content = "%{T0}%{T-}"
;content-background = ${gruvbox/color.comment}
content-foreground = ${gruvbox/color.bg_h}
content-padding = 1

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/date]
type = internal/date
interval = 1.0
time = %A, %d-%m-%Y %H:%M
format = <label>
format-prefix = "%{T4} %{T-}" 
format-prefix-foreground = ${gruvbox/color.yellow}
format-foreground = ${gruvbox/color.fg}
label = "%{T2}%time%%{T-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/pulseaudio]
type = internal/pulseaudio
use-ui-max = false
format-volume = <ramp-volume>
format-volume-foreground = ${gruvbox/color.yellow}
label-muted = "%{T4}ﱝ%{T-}"
label-muted-foreground = ${gruvbox/color.bg_s}
ramp-volume-0 = "%{T4}%{T-}"
ramp-volume-1 = "%{T4}%{T-}"
ramp-volume-2 = "%{T4}%{T-}" 
ramp-volume-3 = "%{T4}%{T-}"  


;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/activity]
type = custom/text
content = "Applications"
content-foreground = ${gruvbox/color.fg}
click-left = rofi -no-config -no-lazy-grab -show drun -gruvbox/color.$HOME/.config/leftwm/gruvbox/color./current/polybar/rofi/launcher.rasi

click-right = rofi -no-config -no-lazy-grab -show drun -gruvbox/color.$HOME/.config/leftwm/gruvbox/color./current/polybar/rofi/launcher.rasi

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/sysmenu]
type = custom/text
content = "%{T4}襤%{T-}"
content-font = 5
content-foreground = ${gruvbox/color.yellow}
click-left = $SCRIPTPATH/powermenu.sh
click-right =$SCRIPTPATH/powermenu.sh

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/network]
type = internal/network
interface = enp4s0
interval = 1.0
accumulate-stats = true
unknown-as-up = true
format-connected = <label-connected>
format-disconnected = <label-disconnected>
format-packetloss = <label-packetloss>
format-connected-prefix = "%{T4} %{T-}"
format-connected-prefix-foreground = ${gruvbox/color.green}
label-connected = "%{T0}%downspeed%%{T-}"
label-connected-foreground = ${gruvbox/color.fg}
label-disconnected = "%{T4} %{T-}"
label-disconnected-foreground = ${gruvbox/color.red}
label-packetloss = 

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/cpu]
type = internal/cpu
interval = 1
format = <label>
format-prefix = "%{T4}%{T-}"
format-prefix-foreground = ${gruvbox/color.yellow}
label = "%{T0} %percentage%%%{T-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/memory]
type = internal/memory
interval = 1
format = <label>
format-prefix = "%{T4}%{T-}"
format-prefix-foreground = ${gruvbox/color.yellow}
label = "%{T0} %gb_used% / %percentage_used%%%{T-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/temperature]
type = internal/temperature
interval = 1.0
thermal-zone = 0
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input
units = true
format = <ramp> <label>
format-foreground = ${gruvbox/color.yellow}
format-warn = <ramp> <label-warn>
label-foreground = ${gruvbox/color.fg}
label = "%{T0}%temperature-c%%{T-}"
warn-temperature = 70
label-warn = "%{T0}%temperature-c%%{T-}"
label-warn-foreground = ${gruvbox/color.red}
ramp-0 = "%{T4}%{T-}"
ramp-1 = "%{T4}%{T-}"
ramp-2 = "%{T4}%{F#cc241d}%{F-}%{T-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/filesystem]
type = internal/fs
mount-0 = /
interval = 60
fixed-values = true
format-mounted = <label-mounted>
format-mounted-prefix = "%{T4}%{T-}"
format-mounted-prefix-foreground = ${gruvbox/color.yellow}
format-unmounted = <label-unmounted>
format-unmounted-prefix = "%{T4}%{T-}"
format-unmounted-prefix-foreground = ${gruvbox/color.red}
label-mounted = "%{T0} %free% / %percentage_used%%%{T-}"
label-unmounted = " %mountpoint%: NA"

