;; Modules

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/sep]
type = custom/text
content = "%{T3}%{T-}"
;content-background = ${color.comment}
content-foreground = ${color.background}
content-padding = 1


;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/pulseaudio]
type = internal/pulseaudio
use-ui-max = false

format-volume = <ramp-volume>

;label-volume = %percentage%%

label-muted = ﱝ
label-muted-foreground = ${color.comment}
label-muted-font = 5

ramp-volume-0 = "%{F#ff79c6}"
ramp-volume-1 = "%{F#ff79c6}"
ramp-volume-2 = "%{F#ff79c6}" 
ramp-volume-3 = "%{F#ff79c6}"  

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/date]
type = internal/date
interval = 1.0

time = %A, %d-%m-%Y %H:%M

format = <label>
format-prefix = " " 
format-prefix-foreground = ${color.pink}
format-foreground = ${color.foreground}
label = "%{T3}%time%%{T-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/activity]
type = custom/text

content = "Applications"
content-foreground = ${color.foreground}

click-left = rofi -no-config -no-lazy-grab -show drun -theme $HOME/.config/leftwm/themes/current/polybar/rofi/launcher.rasi
click-right = rofi -no-config -no-lazy-grab -show drun -theme $HOME/.config/leftwm/themes/current/polybar/rofi/launcher.rasi

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/sysmenu]
type = custom/text

content = "襤"
content-font = 5
content-foreground = ${color.pink}

click-left = $HOME/.config/leftwm/themes/current/polybar/rofi/powermenu.sh
click-right = $HOME/.config/leftwm/themes/current/polybar/rofi/powermenu.sh

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/network]
type = internal/network
interface = enp4s0

interval = 1.0
accumulate-stats = true
unknown-as-up = true

format-connected = <label-connected>
format-disconnected = <label-disconnected>
format-packetloss = <label-packetloss>

format-connected-prefix = " "
format-connected-prefix-foreground = ${color.green}
label-connected = "%{T3}%downspeed:8%%{T-}"
label-connected-foreground = ${color.foreground}
label-disconnected = " "
label-disconnected-foreground = ${color.red}
label-packetloss = 

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/cpu]
type = internal/cpu
interval = 1
format = <label>
format-prefix = ""
format-prefix-foreground = ${color.pink}
label = "%{T3} %percentage:2%%%{T-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/memory]
type = internal/memory
interval = 1
format = <label>
format-prefix = ""
format-prefix-foreground = ${color.pink}
label = "%{T3} %gb_used% / %percentage_used%%%{T-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/temperature]
type = internal/temperature
interval = 1.0
thermal-zone = 0
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input
units = true
format = <ramp> <label>
format-warn = <ramp> <label-warn>
label-foreground = ${color.foreground}
label = "%{T3}%temperature-c%%{T-}"
warn-temperature = 70
label-warn = "%{T3}%temperature-c%%{T-}"
label-warn-foreground = ${color.red}
ramp-0 = "%{F#6272a4}%{F-}"
ramp-1 = "%{F#ff79c6}%{F-}"
ramp-2 = "%{F#ff5555}%{F-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/nm-applet]
type = custom/script
;exec-if = pgrep -x nm-applet
exec = nm-applet --indicator 2>&1 > /dev/null &
tail = true

[module/filesystem]
type = internal/fs
mount-0 = /
interval = 60
fixed-values = true
format-mounted = <label-mounted>
format-mounted-prefix = "%{T3}%{T-}"
format-mounted-prefix-foreground = ${color.pink}
format-unmounted = <label-unmounted>
format-unmounted-prefix = "%{T3}%{T-}"
format-unmounted-prefix-foreground = ${color.red}
label-mounted = "%{T3} %free% %percentage_used%%%{T-}"
label-unmounted = " %mountpoint%: NA"

