[gruvbox]
background = #282828
background_h = #1d2021
background_s = #32302f
background1 = #3c3836
background2 = #504945
background3 = #665c54
background4 = #7c6f64
foreground0 = #fbfqc7
foreground = #ebdbb2
foreground2 = #d5c4a1
foreground3 = #bdaw93
foreground4 = #a89984
red = #cc241d
green = #98971a
yellow = #d79921
blue = #458588
purple = #b16286
aqua = #689d6a
gray = #a89984
orange = #d65d0e
red_light = #fb4934
green_light = #b8bb26
yellow_light = #fabd2f
blue_light = #83a598
purple_light = #d3869b
aqua_light = #8ec07c
gray_light = #928374
orange_light = #fe8019

[dracula]
background = #282a36
current-line = #44475a
foreground = #f8f8f2
comment = #6272a4
cyan = #8be9fd
green = #50fa7b
orange = #ffb86c 
pink = #ff79c6 
purple = #bd93f9
red = #ff5555 
yellow = #f1fa8c 

