[module/cpu]
type = internal/cpu
interval = 1
format = <label>
format-prefix = "%{T2}%{T-}"
format-prefix-foreground = ${color.yellow}
label = " %percentage:2%%"

[module/date]
type = internal/date
interval = 60
date = %A, %d-%m-%y
time = %H:%M %
format = <label>
format-prefix = "%{T2}%{T-} "
format-prefix-foreground = ${color.red}
label = %date% - %time%

[module/filesystem]
type = internal/fs
mount-0 = /
interval = 60
fixed-values = true
format-mounted = <label-mounted>
format-mounted-prefix = "%{T2}%{T-}"
format-mounted-prefix-foreground = ${color.orange}
format-unmounted = <label-unmounted>
format-unmounted-prefix = "%{T2}%{T-}"
format-unmounted-prefix-foreground = ${color.red}
label-mounted = " %free% %percentage_used%%"
label-unmounted = " %mountpoint%: NA"

[module/memory]
type = internal/memory
interval = 1
format = <label>
format-prefix = "%{T2}%{T-}"
format-prefix-foreground = ${color.blue}
label = " %mb_used% %percentage_used%%"

[module/network]
type = internal/network
interface = enp4s0
interval = 1.0
accumulate-stats = true
format-connected = <label-connected>
format-connected-prefix = "%{T2}歷%{T-}"
format-connected-prefix-foreground = ${color.green}
format-connected-suffix = " %{T2}%{T-}"
format-connected-suffix-foreground = ${color.green}
format-disconnected = <label-disconnected>
format-disconnected-prefix = "%{T2}轢%{T-} "
format-disconnected-prefix-foreground = ${color.red}
label-connected = %downspeed:10% 
label-connected-foreground = ${color.white}
label-disconnected = "not connected"
label-disconnected-foreground = ${color.red}

[module/pulseaudio]
type = internal/pulseaudio
sink = alsa_output.pci-0000_03_00.6.analog-stereo
use-ui-max = false
interval = 5
format-volume = <ramp-volume> <label-volume>
format-muted = <label-muted>
format-muted-prefix = "%{T2}ﱝ%{T-}"
format-muted-prefix-foreground = ${color.red}
label-volume = %percentage%%
label-muted = " Muted"
label-muted-foreground = ${color.sep}
ramp-volume-0 = %{T2}奄%{T-}
ramp-volume-1 = %{T2}奔%{T-}
ramp-volume-2 = %{T2}墳%{T-}
ramp-volume-foreground = ${color.blue}

[module/temperature]
type = internal/temperature
interval = 1.0
thermal-zone = 0
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon2/temp1_input
units = true
format = <ramp> <label>
format-warn = <ramp> <label-warn>
label = %temperature-c%
warn-temperature = 70
label-warn = "%temperature-c%"
label-warn-foreground = ${color.red}
ramp-0 = %{T1}%{F#5c9bd6}%{F-}%{T-}
ramp-1 = %{T1}%{FFFFFFF}%{F-}%{T-}
ramp-2 = %{T1}%{F#ff0000}%{T-}

[module/title]
type = internal/xwindow
format = <label>
format-prefix = 
format-foreground = ${color.pink}
label = " %title%"
label-maxlen = 30
label-empty = " Desktop"

[module/updates]
type = custom/script
exec = ~/.config/polybar/forest/scripts/updates.sh
tail = true
interval = 5
format = <label>
format-prefix = 
format-prefix-foreground = ${color.yellow}
label = " %output%"
click-left = exo-open --launch TerminalEmulator &
click-right = exo-open --launch TerminalEmulator &

[module/sysmenu]
type = custom/text
content = %{T2}%{T-}
content-foreground = ${color.cyan}
click-left = $SCRIPTPATH/polybar/scripts/powermenu.sh &

[module/sep]
type = custom/text
content = |
content-foreground = ${color.sep}

[module/powermenu]
type = custom/menu
expand-right = true
menu-0-0 = " Reboot |"
menu-0-0-exec = menu-open-1
menu-0-1 = " Shutdown "
menu-0-1-exec = menu-open-2
menu-1-0 = " Back |"
menu-1-0-exec = menu-open-0
menu-1-1 = " Reboot "
menu-1-1-exec = systemctl reboot
menu-2-0 = " Shutdown |"
menu-2-0-exec = systemctl poweroff
menu-2-1 = " Back "
menu-2-1-exec = menu-open-0
format = <label-toggle><menu>
label-open = 
label-open-foreground = ${color.cyan}
label-open-padding = 1
label-close =  
label-close-foreground = ${color.red}
label-close-padding = 1

[module/workspace]
type = custom/script
exec = leftwm-state -w $index -t "$SCRIPTPATH/workspace.liquid"
tail = true
label = %{T2}%output% %{T-}
