;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
;; Modules

[module/sep]
type = custom/text
content = "%{T0}%{T-}"
;content-background = ${theme.foreground}
content-foreground = ${theme.background_h}
content-padding = 1

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/date]
type = internal/date
interval = 1.0
time = %A, %d-%m-%Y %H:%M
format = <label>
format-prefix = "%{T4} %{T-}"
format-prefix-foreground = ${theme.yellow}
format-foreground = ${theme.foreground}
label = "%{T2}%time%%{T-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/pulseaudio]
type = internal/pulseaudio
use-ui-max = false
format-volume = <ramp-volume>
format-volume-foreground = ${theme.yellow}
label-muted = "%{T4}ﱝ%{T-}"
label-muted-foreground = ${theme.background_s}
ramp-volume-0 = "%{T4}%{T-}"
ramp-volume-1 = "%{T4}%{T-}"
ramp-volume-2 = "%{T4}%{T-}"
ramp-volume-3 = "%{T4}%{T-}"


;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/activity]
type = custom/text
content = "Applications"
content-foreground = ${theme.foreground}
click-left = rofi -no-config -no-lazy-grab -show drun -theme.$HOME/.config/leftwm/gruvbox/color./current/polybar/rofi/launcher.rasi

click-right = rofi -no-config -no-lazy-grab -show drun -theme.$HOME/.config/leftwm/gruvbox/color./current/polybar/rofi/launcher.rasi

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/sysmenu]
type = custom/text
content = "%{T4}襤%{T-}"
content-font = 5
content-foreground = ${theme.yellow}
click-left = $POLYBARTHEME/powermenu.sh
click-right = $POLYBARTHEME/powermenu.sh

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/network]
type = internal/network
interface = enp4s0
interval = 1.0
accumulate-stats = true
unknown-as-up = true
format-connected = <label-connected>
format-disconnected = <label-disconnected>
format-packetloss = <label-packetloss>
format-connected-prefix = "%{T4} %{T-}"
format-connected-prefix-foreground = ${theme.yellow}
label-connected = "%{T0}%downspeed%%{T-}"
label-connected-foreground = ${theme.foreground}
label-disconnected = "%{T4} %{T-}"
label-disconnected-foreground = ${theme.red}
label-packetloss = 

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/cpu]
type = internal/cpu
interval = 1
format = <label>
format-prefix = "%{T4}%{T-}"
format-prefix-foreground = ${theme.yellow}
label = "%{T0} %percentage%%%{T-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/memory]
type = internal/memory
interval = 1
format = <label>
format-prefix = "%{T4}%{T-}"
format-prefix-foreground = ${theme.yellow}
label = "%{T0} %gb_used% / %percentage_used%%%{T-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/temperature]
type = internal/temperature
interval = 1.0
thermal-zone = 2
hwmon-path =
units = true
format = <ramp> <label>
format-warn = <ramp> <label-warn>
format-foreground = ${theme.yellow}
label = "%{T0}%temperature-c%%{T-}"
warn-temperature = 70
label-warn = "%{T0}%temperature-c%%{T-}"
label-warn-foreground = ${theme.red}
ramp-0 = "%{T4}%{T-}"
ramp-1 = "%{T4}%{T-}"
ramp-2 = "%{T4}%{F#cc241d}%{F-}%{T-}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/filesystem]
type = internal/fs
mount-0 = /
interval = 60
fixed-values = true
format-mounted = <label-mounted>
format-mounted-prefix = "%{T4}%{T-}"
format-mounted-prefix-foreground = ${theme.yellow}
format-unmounted = <label-unmounted>
format-unmounted-prefix = "%{T4}%{T-}"
format-unmounted-prefix-foreground = ${theme.red}
label-mounted = "%{T0} %free% / %percentage_used%%%{T-}"
label-unmounted = " %mountpoint%: NA"

