; Modules

[icons]
network-connected ="%{T5}%{T-} "
network-disconnected = "${T5}%{T-} "
network-loss = "${T5}%{T-} "
memory ="%{T5}%{T-} "
cpu ="%{T5}%{T-} "
temperature-cold = "%{T5}%{F#458588}%{F-}%{T-}"
temperature-normal = "%{T5}%{F#83a598}%{F-}%{T-}"
temperature-hot = "%{T5}%{F#cc241d}%{F-}%{T-}"
filesystem = "%{T5}%{T-} "
date ="%{T5}%{T-} "
pulseaudio-0 ="%{T5}%{T-} "
pulseaudio-1 ="%{T5}%{T-} "
pulseaudio-2 ="%{T5}%{T-} "
pulseaudio-3 ="%{T5}%{T-} "
pulseaudio-mute ="%{T5}ﱝ%{T-}"
sysmenu ="%{T5}襤%{T-} "

[module/sep]
type = custom/text
content = "%{T0}%{T-}"
;content-background = ${theme.foreground}
content-foreground = ${theme.yellow}
content-padding = 1
label-active-font = 0

[module/date]
type = internal/date
interval = 1.0
time = %A, %d-%m-%Y %H:%M
format = <label>
format-prefix = ${icons.date}
format-prefix-foreground = ${theme.yellow}
format-foreground = ${theme.foreground}
label = "%time%"
label-active-font = 0

[module/activity]
type = custom/text
content = "Applications"
content-foreground = ${theme.foreground}
click-left = rofi -no-config -no-lazy-grab -show drun -theme.$HOME/.config/leftwm/gruvbox/color./current/polybar/rofi/launcher.rasi
click-right = rofi -no-config -no-lazy-grab -show drun -theme.$HOME/.config/leftwm/gruvbox/color./current/polybar/rofi/launcher.rasi
label-active-font = 0

[module/sysmenu]
type = custom/text
content = ${icons.sysmenu}
content-font =
content-foreground = ${theme.yellow_light}
click-left = $MAINPATH/rofi/powermenu.sh
click-right = $MAINPATH/rofi/powermenu.sh
label-active-font = 0

[module/network]
type = internal/network
interface = enp4s0
interface-type = wired
interval = 1.0
accumulate-stats = false
unknown-as-up = false
udspeed-minwidth = 3
speed-unit ="B"
format-connected = <label-connected>
format-disconnected = <label-disconnected>
format-packetloss = <label-packetloss>
format-connected-prefix = ${icons.network-connected}
format-connected-prefix-foreground = ${theme.green_l}
label-connected = "%downspeed%"
label-connected-foreground = ${theme.foreground}
label-disconnected = " "
label-disconnected-foreground = ${theme.red}
label-packetloss = 
label-active-font = 0

[module/memory]
type = internal/memory
interval = 1
warn-percentage = 95
format = <label>
format-prefix = ${icons.memory}
format-prefix-foreground = ${theme.purple_l}
format-foreground = ${theme.foreground}
label = "%percentage_used%% (%used%)"
label-active-font = 0

[module/cpu]
type = internal/cpu
interval = 1
warn-percentage = 95
format = <label>
format-prefix = ${icons.cpu}
format-prefix-foreground = ${theme.aqua_l}
format-foreground = ${theme.foreground}
label = "%percentage:2%%"
label-active-font = 0

[module/filesystem]
type = internal/fs
mount-0 = /
interval = 60
fixed-values = false
warn-percentage = 90
format-mounted = <label-mounted>
format-mounted-prefix = ${icons.filesystem}
format-mounted-prefix-foreground = ${theme.orange_l}
format-mounted-foreground = ${theme.foreground}
label-mounted = "%percentage_used%% (%used% of %total%)"
label-active-font = 0

[module/temperature]
type = internal/temperature
interval = 1.0
thermal-zone = 2
hwmon-path = ${env:HWMON}
units = true
base-temperature = 30
warn-temperature = 75
format = <ramp> <label>
format-warn = <ramp> <label-warn>
format-foreground = ${theme.foreground}
label = "%temperature-c%"
label-warn = "%temperature-c%"
label-warn-foreground = #cc241d
ramp-0 = ${icons.temperature-cold}
ramp-1 = ${icons.temperature-normal}
ramp-2 = ${icons.temperature-hot}
label-active-font = 0

[module/pulseaudio]
type = internal/pulseaudio
use-ui-max = false
format-volume = <ramp-volume>
format-volume-foreground = ${theme.yellow}
label-muted = ${icons.pulseaudio-mute}
label-muted-foreground = ${theme.red}
ramp-volume-0 = ${icons.pulseaudio-0}
ramp-volume-1 = ${icons.pulseaudio-1}
ramp-volume-2 = ${icons.pulseaudio-2}
ramp-volume-3 = ${icons.pulseaudio-3}
label-active-font = 0

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t "$MAINPATH/template.liquid"
tail = true
label-active-font = 0

[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t "$MAINPATH/template.liquid"
tail = true
label-active-font = 0

[module/uptime]
type = custom/script
exec = uptime -p | sed 's/up //g'
tail = false
interval = 90
label = "%{F#d79921}Uptime:%{F-} %output%"

